.main-slider{
	text-align:center;
}

.mar-top-25{
	margin-top:25px;
}

.mar-top-75{
	margin-top:75px;
}

.description{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color:#2c2c2c;
}

.pr-con h1{
	font-size: 32px;
	color:#2c2c2c;
}

.pr-con h3{
	font-size: 28px;
	color:#2c2c2c;
}