.fixed-sidebar{
	position:absolute;
	left:0;
	top:250px;
	width:22%;
}

.catalog{
	font-size: 24px;
}

.active-sb{
	background: #cc3333;
	color:white !important;
}

.active-sb img{
	-moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
    filter: invert(1);
}

.catalog li{
	padding:16px 15px 16px 60px;
	list-style-type: none;
	--webkit-box-shadow: -16px 17px 0px -16px rgba(208,208,208,1);
	-moz-box-shadow: -16px 17px 0px -16px rgba(208,208,208,1);
	box-shadow: -16px 17px 0px -16px rgba(208,208,208,1);
	cursor:pointer;
	transition: 0.2s;
	color:#2c2c2c;
}

.catalog li:hover{
	background: #cc3333;
	color:white;
}

.catalog li:hover img{
	-moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
    filter: invert(1);
}

.catalog img{
	float: right;
	padding:16px 0 16px;
	transition: 0.5s;
}

.catalog .no-padding img{
	padding:0 !important;
}